* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid-menu-page {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: "logo header" "universal-menu option-info-content";
    background-color: #222831;
    background-size: cover;
}

.logo {
    grid-area: logo;
}

.header {
    grid-area: header;
}

.universal-menu {
    grid-area: universal-menu;
}

.option-info-content {
    background-color: #313946;
    ;
    grid-area: option-info-content;
    color: #ffffff;
}

.logo h1 {
    position: relative;
    color: #ffffff;
    text-decoration: underline #838383;
    text-align: center;
}

.option-info-content h1,
h2 {
    position: relative;
    top: 30%;
    text-align: center;
    padding: 10px;
}

.option-info-content a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}