.universal-menu a {
    background-color: #353f4e;
    color: #eee;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
}

.universal-menu a:hover {
    background-color: #181c22;
}

.universal-menu a.exit {
    background-color: red;
}

.universal-menu a.exit:hover {
    background-color: rgb(190, 3, 3);
}