.universal-menu a,
.universal-menu button {
    background-color: #353f4e;
    color: #eee;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
}

.universal-menu a:hover {
    background-color: #181c22;
}

.universal-menu a.exit {
    background-color: red;
}

.universal-menu a.exit:hover {
    background-color: rgb(190, 3, 3);
}

.dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropup {
    position: relative;
    display: block;
}

.dropup-content {
    display: none;
    position: absolute;
    z-index: 3;
    bottom: 50px;
    right: 0;
    background-color: red;
    border-radius: 5%;
}

.dropup:hover .dropup-content {
    display: block;
}

.slide {
    height: 85vh;
    width: auto;
}

.slide h1,
.slide h3 {
    position: relative;
    text-align: center;
    top: 35%;
    font-weight: bolder;
    color: gold;
    font-size: 500%;
    text-shadow: 5px 5px black;
}

.gym {
    background-image: url("../../images/gym.jpg");
    background-size: cover;
    height: 100vh;
}

.zumba {
    background-image: url("../../images/zumba.jpg");
    background-size: cover;
}

.yoga {
    background-image: url("../../images/yoga.jpg");
    background-size: cover;
    height: 100vh;
}

.reception {
    background-image: url("../../images/receptionist.jpg");
    background-size: cover;
}

.room {
    background-image: url("../../images/room.jpg");
    background-size: cover;
}