.universal-menu a,
.universal-menu button {
    background-color: #353f4e;
    color: #eee;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
}

.universal-menu a:hover {
    background-color: #181c22;
}

.universal-menu a.exit {
    background-color: red;
}

.universal-menu a.exit:hover {
    background-color: rgb(190, 3, 3);
}

.dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropup {
    position: relative;
    display: block;
}

.dropup-content {
    display: none;
    position: absolute;
    z-index: 3;
    bottom: 50px;
    right: 0;
    background-color: #242931;
    border-radius: 5%;
}

.dropup:hover .dropup-content {
    display: block;
}

.slide {
    display: none;
    width: auto;
    height: auto;
}

.slide h1 {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}